<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/heavy-loader.component.ts]" value="import {Component, Input, Output} from 'angular2/core';

let nextId = 1;

@Component({
  selector: 'heavy-loader',
  template: '<span>heavy loader #{{id}} on duty!</span>'
})
export class HeavyLoaderComponent {
  id = nextId++;
  @Input() logs: string[];

  ngOnInit() {
    // Mock todo: get 10,000 rows of data from the server
    this._log(`heavy-loader ${this.id} initialized,
      loading 10,000 rows of data from the server`);
  }

  ngOnDestroy() {
    // Mock todo: clean-up
    this._log(`heavy-loader ${this.id} destroyed, cleaning up`);
  }

  private _log(msg: string) {
    this.logs.push(msg);
    this._tick();
  }

  // Triggers the next round of Angular change detection
  // after one turn of the browser event loop
  // ensuring display of msg added in onDestroy
  private _tick() { setTimeout(() => { }, 0); }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/main.ts]" value="import {bootstrap} from 'angular2/platform/browser';
import {StructuralDirectivesComponent} from './structural-directives.component';

bootstrap(StructuralDirectivesComponent);


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/structural-directives.component.ts]" value="import {Component, Input, Output} from 'angular2/core';
import {UnlessDirective}          from './unless.directive';
import {HeavyLoaderComponent}     from './heavy-loader.component';

@Component({
  selector: 'structural-directives',
  templateUrl: 'app/structural-directives.component.html',
  styles: ['button { min-width: 100px; }'],
  directives: [UnlessDirective, HeavyLoaderComponent]
})
export class StructuralDirectivesComponent {
  heroes = ['Mr. Nice', 'Narco', 'Bombasto'];
  hero = this.heroes[0];
  condition = true;
  isVisible = true;
  logs: string[] = [];
  status = 'ready';
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/unless.directive.ts]" value="import {Directive, Input} from 'angular2/core';

import {TemplateRef, ViewContainerRef} from 'angular2/core';

@Directive({ selector: '[myUnless]' })
export class UnlessDirective {

  constructor(
    private _templateRef: TemplateRef,
    private _viewContainer: ViewContainerRef
    ) { }

  @Input() set myUnless(condition: boolean) {
    if (!condition) {
      this._viewContainer.createEmbeddedView(this._templateRef);
    } else {
      this._viewContainer.clear();
    }
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[styles.css]" value="/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/structural-directives.component.html]" value="<h1>Structural Directives</h1>

<div *ngIf=&quot;hero&quot;>{{hero}}</div>
<div *ngFor=&quot;#hero of heroes&quot;>{{hero}}</div>
<div [ngSwitch]=&quot;status&quot;>
  <template [ngSwitchWhen]=&quot;'in-mission'&quot;>In Mission</template>
  <template [ngSwitchWhen]=&quot;'ready'&quot;>Ready</template>
  <template ngSwitchDefault>Unknown</template>
</div>

<hr>

<button
  (click)=&quot;condition = !condition&quot;
  [style.background] = &quot;condition ? 'orangered': 'lightgreen'&quot;
  >
  Set 'condition' to {{condition ? 'False': 'True'}}
</button>

<p *ngIf=&quot;condition&quot;>
  condition is true and ngIf is true.
</p>
<p *ngIf=&quot;!condition&quot;>
  condition is false and ngIf is false.
</p>
<p *myUnless=&quot;condition&quot;>
  condition is false and myUnless is true.
</p>

<p *myUnless=&quot;!condition&quot;>
  condition is true and myUnless is false.
</p>

<hr>

<div><!-- Visibility -->
  <button (click)=&quot;isVisible = !isVisible&quot;>show | hide</button>
  <heavy-loader [style.display]=&quot;isVisible ? 'inline' : 'none'&quot; [logs]=&quot;logs&quot;></heavy-loader>
</div>

<div><!-- NgIf -->
  <button (click)=&quot;condition = !condition&quot;>if | !if</button>
  <heavy-loader *ngIf=&quot;condition&quot; [logs]=&quot;logs&quot;></heavy-loader>
</div>

<h4>heavy-loader log:</h4>
<div *ngFor=&quot;#message of logs&quot;>{{message}}</div>

<hr>

<p>
  Hip!
</p>
<template>
  <p>
    Hip!
  </p>
</template>
<p>
  Hooray!
</p>

<hr>

<!-- Examples (A) and (B) are the same -->
<!-- (A) *ngIf paragraph -->
<p *ngIf=&quot;condition&quot;>
  Our heroes are true!
</p>

<!-- (B) [ngIf] with template -->
<template [ngIf]=&quot;condition&quot;>
  <p>
    Our heroes are true!
  </p>
</template>

<hr>

<!-- Examples (A) and (B) are the same -->

<!-- (A) *ngFor div -->
<div *ngFor=&quot;#hero of heroes&quot;>{{ hero }}</div>

<!-- (B) ngFor with template -->
<template ngFor #hero [ngForOf]=&quot;heroes&quot;>
  <div>{{ hero }}</div>
</template>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Angular 2 Structural Directives</title>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>

    <!-- IE required polyfills, in this exact order -->
    <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js&quot;></script>
    <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system-polyfills.js&quot;></script>
    <script src=&quot;https://unpkg.com/angular2@2.0.0-beta.15/es6/dev/src/testing/shims_for_IE.js&quot;></script>

    <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/angular2-polyfills.js&quot;></script>
    <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system.js&quot;></script>
    <script src=&quot;https://unpkg.com/typescript@1.8.10/lib/typescript.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/Rx.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/angular2.dev.js&quot;></script>
    <script>
      System.config({
        transpiler: 'typescript', 
        typescriptOptions: { emitDecoratorMetadata: true }, 
        packages: {'app': {defaultExtension: 'ts'}} 
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
  </head>

  <body>
    <structural-directives>Loading...</structural-directives>
  </body>

</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="structural"><input type="hidden" name="tags[3]" value="directives"><input type="hidden" name="tags[4]" value="template"><input type="hidden" name="tags[5]" value="ngIf"><input type="hidden" name="tags[6]" value="ngSwitch"><input type="hidden" name="tags[7]" value="ngFor"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Structural directives"></form><script>document.getElementById("mainForm").submit();</script></body></html>